@font-face {
	font-family: 'Monogram';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('/fonts/monogram.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Monogram';
}
